/*CABEÇALHO*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    /*background-color: #efd6ca;*/
}

header {
    width: 100%;
    height: 100px;
    padding: 0 2rem;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 2px 0 5px #000000;
}

header img {
    width: 300px;
    margin-left: 3%;
    padding: 10px; 
}

header nav {
    position: realtive;
}

.menu_ul {  
    padding: 30px;
    position: absolute;
    right: 0;
    margin: 0;
    display: inline-block;
}

header ul li {  
    padding: 10px 8px;
    display: inline-block;
    text-transform: uppercase;
    margin-right: 25px;
    transition: 0.5s all;
}

.menu_ul li:hover {
    color: #ffffff;
    background-color: #2cc76a;
    border-radius: 10px 5px;
    box-shadow: 1px 1px 2px #000000; 
}

header a {
    vertical-align: middle;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: #000000;
}

/* Redes sociais*/

.redescontainer {
    position: absolute;
    top: 580px;
    left: 2px;
}

.redesnav {
    position: fixed;
}

.redes ul {
    
}

.redes li {
    width: 60px;
    height: 60px;
    text-align: center;
    margin: 5px 0;
}

.redes li:hover {
    width: 70px;
    height: 70px;
    transition: 0.5s all;
}

.redescontainer img {
    width: 54px;
    padding: 3px;
}

.redescontainer li:hover img {
    width: 62px;
    transition: 0.5s all;
}

.wp {
    background-color: #00c4ff;
    border-radius: 50px;
 }
.insta {
    background-color: #ff00a9;
    border-radius: 50px;
}

.face {
    background-color: #fff200;
    border-radius: 50px;
}

 
/*BEM-VINDO*/
.bem_vindo {
    width: 100%;
    height: 480px;
    background: linear-gradient(45deg,#5b5249,#dfdd13,#f26223,#396592,#923978,#64c32b,#ffffff);
    opacity: 0.8;
    box-shadow: 5px 0px 5px #000000;
    transition: 1.5s all;
    display: flex;
    /* flex-box */
    align-items: center;
    justify-content: center;
}

.bem_vindo:hover {
    opacity: 1;
}

.bem_vindo h1{
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

/*SOBRE*/
#conteudo {
    width: 100%;
}

.conteudo_rp , #conteudo .mvv_empresa {
    width: 70%;
    margin: 4.5em auto;
}

#conteudo main h2{
    font-size: 35px;
    font-weight: bold;
    margin: 1em 0;
    text-align: center;
}

.conteudo_rp div{
    width: 80%;
    margin: 1em auto;
}

.conteudo_rp p {
    font-size: 20px;
    text-align: justify;
    
    margin: 0 0 0.5em;
}


/*missao, visao e valores*/
.mvv_empresa {
    width: 100%;
    background-color: #efeeec;
    padding: 50px 0;
    display: flex;
    align-items: center;
}
.mvv_empresa ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.mvv_empresa li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    padding: 35px;
    border-radius: 0 10px;
    transition: 1s all;
    margin: 0 auto;
}

.mvv_empresa li:hover {
    padding: 45px;
    box-shadow: 5px 5px 10px #000000;
    transition: 2s all;
}


.mvv_empresa h3 {
    font-size: 30px;
    font-weight: bold;
    margin: 1em 0;
}

.none {
    display: none;
}

.mvv_empresa p {
    transition: 2s all;
    text-align: justify;
    font-size: 25px;
    font-weight: 300;
    line-height: 23px;
    padding: 25px;
}

.mvv_empresa span{
    font-weight: bold;
}
 
.mvv_empresa img {
    width: 150px;
}

.missao {
    background-color: #00c4ff;
    cursor: pointer;
}
.visao {
    background-color: #ff00a9;
    cursor: pointer;
}
.valores {
    background-color: #fff200;
    cursor: pointer;
}

/* Contact form */

#contact-container {
    text-align: center;
    padding: 5rem 0 2rem 0;
}

#contact-container h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 15px;
}

#contact-container p {
    font-size: 20px;
    margin-bottom: 40px;
}

#contact-container input, #contact-container textarea {
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 10px 20px;
}

#contact-container textarea{
    display: block;
    margin: 0 auto 20px;
    width: 550px;
    height: 150px;
}

#contact-container input[type="submit"] {
    display: block;
    margin: 0 auto;
    background-color: #2cc76a;
    color: #fff;
    cursor: pointer;
}

/*RODAPE*/
#rodape {
    background-color: #ffffff;
    padding: 15px;
    box-shadow: -2px 0 5px #000000;
}

#rodape img {
    width: 80px;
}

#rodape p {
    text-align: center;
    font-size: 15px;
}